<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free URL Shortener</title>
    <link rel="shortcut icon" href="/assets/link.png" type="image/x-icon">
    <link rel="stylesheet" href="/CSS/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/stats">Stats</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <h1>Free URL <span style="color: #37a0fb;">Shortener</span></h1>
        <p class="para">Free tool to shortenURLs. Create a short & memorable links in seconds.</p>
        <form method="POST" action="/url">
            <input 
                type="text" 
                placeholder="Enter link here"
                name="url"
            >
            <button class="short" type="submit">Shorten URL</button>
        </form>
        <div class="result">
            <% if(locals.id) { %>
                <p class="sh-url"><a target="_blank" href="https://flink-n946.onrender.com/<%= id %>">flink.ly/<%= id  %></a></p>
                <p class="copy" id="copyButton">Copy</p>
            <% } else { %>
                <p class="sh-url"><a target="_blank" href="https://flink-n946.onrender.com/YHRul4nLv">flink.ly/YHRul4nLv</a></p>
                <p class="copy" id="copyButton">Copy</p>
            <% } %>
        </div>
        <p class="para p2">By clicking Shorten URL, you agree to Rebrandly's <u>Terms of Use</u>, <u>Privacy Policy</u> and <u>Cookie Policy</u></p>
    </div>
    <div class="description">
        <div class="left">
            <h2>A fast and simple URL shortener</h2>
            <p>Free URL Shortener for transforming long, ugly links into nice, memorable and trackable short URLs. Use it to shorten links for any social media platforms, blogs, SMS, emails, ads, or pretty much anywhere else you want to share them. Twitter, Facebook, YouTube, Instagram, WhatsApp, emails, SMS, videos. RB.GY is the best free alternative to generic URL shorteners like bitly and tinyurl. After shorterning the URL, check how many clicks it received.</p>
        </div>
        <div class="right">
            <img src="/assets/link.png" alt="link-png" height="120">
            <p>Experience the <b>benefits of link</b> management for your business</p>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="left-side">
                <p>Terms & Conditions</p>
                <p>Privacy Policy</p>
                <p>Cookie Policy</p>
                <p>Anti Spam Policy</p>
                <p>Report abuse</p>
            </div>
            <div class="right-side">
                <p>Rebrandly &copy; Copyright 2024</p>
            </div>
        </div>
    </footer>

    <script src="/JS/script.js"></script>
</body>
</html>