<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free URL Shortener</title>
    <link rel="stylesheet" href="/CSS/stats.css">
    <link rel="shortcut icon" href="/assets/link.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/stats">Stats</a></li>
                <li><a href="/myUrls">myUrls</a></li>
            </ul>
        </nav>
        <h1>Track your <span style="color: #3898ec;">short URLs</span></h1>
        <p class="para">Enter the URL to find out how many clicks it has received so far. Example: localhost/pjzjsl</p>
        <form method="POST" action="/url/stats">
            <input 
                type="text" 
                placeholder="Enter link here"
                name="url"
            >
            <button class="short" type="submit">View Clicks</button>
        </form>
    </div>
    <% if(locals.url) { %>
    <div class="stats">
        <h1>Stats</h1>
        <table>
            <tr>
                <th>Name</th>
                <td><%= url.redirectURL %></td>
            </tr>
            <tr>
                <th>Total Clicks</th>
                <td><%= url.visitHistory.length %></td>
            </tr>
            <% if(url.visitHistory.length != 0) { %>
            <tr>
                <th>Last Click</th>
                <td><%= url.visitHistory[url.visitHistory.length - 1].timeStamp %></td>
            </tr>
            <% } %>
        </table>
    </div>
    <% } %>
    <div class="description">
        <div class="left">
            <h2>How to track your links</h2>
            <p>Once you have created and shared the short URL,  just add symbol “+” to the end of it and you will get real-time analytics showing the numbers of clicks received from your shortened URL.
                Click here to see an example: rb.gy/pjzjsl+</p>
        </div>
        <div class="right">
            <img src="/assets/link.png" alt="link-png" height="120">
            <p>Experience the <b>benefits of link</b> management for your business</p>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="left-side">
                <p>Terms & Conditions</p>
                <p>Privacy Policy</p>
                <p>Cookie Policy</p>
                <p>Anti Spam Policy</p>
                <p>Report abuse</p>
            </div>
            <div class="right-side">
                <p>Rebrandly &copy; Copyright 2024</p>
            </div>
        </div>
    </footer>
</body>
</html>