* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.container {
    background-color: #133552;
    color: #fff;
    padding-bottom: 1rem;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
}
nav ul li {
    padding: 0 1rem;
    margin: 2rem 0;
}
li a {
    text-decoration: none;
    color: white;
}
li a:hover {
    color: #3898ec;
}
h1 {
    font-size: 2.3rem;
    margin: 24px;
    margin-bottom: 32px;
}
.para {
    color: rgb(171, 169, 169);
    font-size: 1rem;
    font-family: 'poppins';
}
.p2 {
    margin-top: 3rem;
}
.copy {
    background-color: #133552;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.copy:hover {
    background-color: #184368;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.3rem;
    margin-top: 0.7rem;
    flex-wrap: wrap;
}
input {
    width: 32.2%;
    min-width: 10rem;
    padding: 15px;
    border-radius: 3px;
    font-size: 1.1rem;
    border: none;
    outline: none;
}
input:focus {
    border: 1px solid #3898ec;
}
.short {
    padding: 15px 40px;
    margin-left: 12px;
    border-radius: 3px;
    font-size: 1.1rem;
    background-color: #3898ec;
    border: none;
    color: #fff;
    cursor: pointer;
}
.short:hover {
    background-color: #1d7dd2;
}

.result {
    max-width: 50%;
    margin: 1rem auto;
    width: 44%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    color: black;
    text-align: left;
    border-radius: 3px;
    flex-wrap: wrap;
}
.sh-url {
    color: #1d7dd2;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}
.shortened-url {
    display: flex;
    align-items: center;
}
.shortened-url p {
    padding: 0 15px;
}

.description {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1rem;
    text-align: left;
    margin-bottom: 10rem;
    flex-wrap: wrap;
}
.left {
    background-color: #f1f0f0;
    padding: 2rem;
    width: 50%;
    margin-bottom: 1rem;
}
.left h2 {
    margin:  1.5rem;
    font-weight: 100;
    font-size: 1.6rem;
}
.left p {
    color: #686767;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.right {
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: rem;
    width: 50%;
    height: 15.7rem; 
    flex-wrap: wrap;
}
.right p {
    width: 22rem;
    font-size: 1.6rem;
    line-height: 2.1rem;
}
.footer {
    background-color: #444445;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #dcdada;
    padding: 2rem;
}
.footer p:hover {
    color: #2a95f4;
}
.left-side {
    display: flex;
    align-items: center;
}
.left-side p {
    padding: 0 2rem;
    cursor: pointer;
}
.right-side p {
    cursor: pointer;
}
.tooltip {
    position: absolute;
    top: 40px; 
    left: 94%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 1s ease;
}

.result {
    position: relative; 
}

.result .tooltip {
    opacity: 1;
}
@media (max-width: 1078px) {
    h1 {
        font-size: 1.8rem;
    }
    
    .container {
        padding: 1rem;
    }
    form {
        flex-direction: column;
    }
    input {
        width: 50%;
    }
    .short {
        width: 50%;
        margin: 1rem auto;
    }
    .sh-url {
        margin-bottom: 1rem;
    }
    
    .result {
        flex-direction: column;
        align-items: flex-start;
    }
    .description {
        flex-direction: column;
    }
    .left-side {
        flex-direction: column;
    }
    .left, .right {
        width: 99%;
    }

}
@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }
    input {
        width: 100%;
    }
    .short {
        width: 100%;
        margin: 1rem auto;
    }
    
    .container {
        padding: 1rem;
    }
    
    .result {
        flex-direction: column;
        align-items: flex-start;
    }
    .description {
        flex-direction: column;
    }
    .left, .right {
        padding: 1rem;
    }

    .left-side {
        flex-direction: column;
    }
    .left, .right {
        width: 99%;
    }
    .result {
        max-width: 100%;
        margin: 1rem auto;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: white;
        color: black;
        text-align: left;
        border-radius: 3px;
        flex-wrap: wrap;
    }
}
@media (max-width: 564px) {
    .right {
        margin: 0 auto;
        text-align: center;
    }
    .right p {
        margin-top: 1rem;
    }
    .right img {
        height: 90px;
    }
    .container p {
        font-size: 0.7rem;
        width: 90%;
        margin: 0 auto;
    }
    .result .copy {
        width: 20%;
        margin-left: 0;
        padding: 6px 8px;
        margin-top: 0.4rem;
        margin-left: 0.8rem;
    }
    .left h2{
        width: 100%;
        margin: 1rem auto;
    }
    .left p {
        font-size: 0.8rem;
    }
    .right img{
        height: 5rem;
    }
    .right p {
        font-size: 1.5rem;
        margin-top: 0;
    }
    .container h1 {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    ul li {
        padding: 0;
    }
    nav ul li {
        margin: 1rem 0;
        margin-bottom: 2rem;
        padding: 0 0.7rem;
        font-size: 0.9rem;
    }
    .result {
        margin-bottom: 5rem;
    }
    .footer {
        font-size: 0.5rem;
    }
}
